/* =========================
   ANIMATED BUTTON - WHITE
========================= */
.animated-button--white {
    background-color: #ffffff;
    color: #1b5e20;
    box-shadow: 0 0 0 2px #ffffff;
}


.animated-button--white svg {
    fill: #1b5e20;
}


.animated-button--white .circle {
    background-color: #ffffff;
}


.animated-button--white:hover {
    color: #0f3d1e;
}


.animated-button--white:hover svg {
    fill: #0f3d1e;
}


/* CENTER helper */
.animated-button--center {
    margin: 0 auto;
}


.animated-button svg {
    position: absolute;
    width: 22px;
    fill: #1b5e20;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}


.animated-button .arr-1 {
    right: 16px;
}


.animated-button .arr-2 {
    left: -25%;
}


.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #1b5e20;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}


.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 11px;
}


.animated-button:hover {
    color: #ffffff;
    box-shadow: 0 0 0 12px transparent;
    border-radius: 14px;
}


.animated-button:hover .arr-1 {
    right: -25%;
}


.animated-button:hover .arr-2 {
    left: 16px;
}


.animated-button:hover .text {
    transform: translateX(12px);
}


.animated-button:hover svg {
    fill: #ffffff;
}


.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}


.animated-button:active {
    scale: 0.96;
}
